@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Roboto+Condensed&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f55347;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3em;
}

/* Shared Styles */

.section-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* /Shared Styles */

/* section container styles */

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-section {
    background-color: steelblue;
}

/* projects section */

.project-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    overflow-x: scroll;

}

.project-preview {
    height: 65vh;
    min-height: 300px;
    min-width: 300px;
    background-color: aliceblue;
    display: block;
}

.projects-section {
    background-color: teal;
}


.content-span {
    display: flex;
    justify-content: center;
}

/* Icons */

.icon {
    width: 65px;
    height: 65px;
}

.icon:hover {
    animation: highlight-icon;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* Vertical Separator */

.vertical-line{
    display: inline-block;
    border-left: 2px solid black;
    margin: 0 10px;
    height: 65px;
}


/* Waving Animation */

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* Animations */

@keyframes highlight-icon {
    from {
        filter: invert(0%)
    }

    to {
        filter: invert(100%)
    }
}

@keyframes move-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

.nav-down-container {
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;

    margin: auto;
    position: absolute;
    left: 0; 
    bottom: 0; 
    right: 0;
}

.arrow-shape {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
  }

  .arrow-animation {
    animation: move-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

