@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Roboto+Condensed&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f55347;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3em;
}

/* Shared Styles */

.section-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* /Shared Styles */

/* section container styles */

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-section {
    background-color: steelblue;
}

.projects-section {
    background-color: teal;
}


.content-span {
    display: flex;
    justify-content: center;
}

/* Icons */

.icon {
    width: 65px;
    height: 65px;
}

.icon:hover {
    animation: highlight-icon;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* Vertical Separator */

.vertical-line{
    display: inline-block;
    border-left: 2px solid black;
    margin: 0 10px;
    height: 65px;
}


/* Waving Animation */

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* Animations */

@keyframes highlight-icon {
    from {
        filter: invert(0%)
    }

    to {
        filter: invert(100%)
    }
}

.nav-container {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    height: 75%;
    width: 125px;
    /*background-color: white;*/
}

.nav-item {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    transition-duration: .25s;
    margin: 10px 10px 10px 20px;
}

.nav-item:hover {
    font-size: 1.75em;
    transition-duration: .25s;
}

.nav-active {
    /*background-color: purple;*/
    font-size: 2.5em !important;
    transition-duration: .5s;
}

/*.nav-item {*/
/*    font-size: 2em;*/
/*    color: yellow;*/
/*    transition-duration: .25s;*/
/*}*/

@media only screen and (max-width: 1000px) {
    .nav {
        display: none;
    }
}
